# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Example environment variables for Substrate development.
# Copy this file to .ate-dev-env.sh and customize it for your environment.

export PROJECT_ID=${USER}-gke-dev
export PROJECT_NUMBER=$(gcloud projects describe ${PROJECT_ID} --format="value(projectNumber)")

export GCE_REGION=us-west1
export CLUSTER_LOCATION=us-west1-c

export NETWORK=default
export SUBNETWORK=default

export CLUSTER_NAME=substrate-poc
export CLUSTER_VERSION=1.35.5-gke.1163012
export NODE_POOL_NAME=gvisor-pool
export NODE_POOL_VERSION=1.35.5-gke.1163012
export GVISOR_NODE_MACHINE_TYPE=c3-standard-4

# Set this if you are using an existing cluster with a different context name.
export KUBECTL_CONTEXT=

export BUCKET_NAME=snapshot-substrate-test-${PROJECT_ID}

export KO_DOCKER_REPO="gcr.io/${PROJECT_ID}/ate-images"

# Set this if you want to override the default build platforms
export KO_DEFAULTPLATFORMS=linux/amd64
