# Copyright 2026 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NOTE this is the YAML template for the full workloads, however performance
# suffers when using it for the following reasons:
#  * having multiple worker replicas risks missing caching when resuming a job on a different node, which
#    leads to latency due to pulling from GCS
#  * The non-sleep workloads currently do not run, since there is not enough disk space to take the golden snapshot.
#
# Once disk space is improved and scheduling optimizations are introduced, we should use this file.

apiVersion: v1
kind: Namespace
metadata:
  name: benchmark-workloads

---

apiVersion: ate.dev/v1alpha1
kind: WorkerPool
metadata:
  name: benchmark-ateom
  namespace: benchmark-workloads
  labels:
    workload: benchmark-ateom
spec:
  replicas: 5
  workerImage: ko://github.com/agent-substrate/substrate/cmd/ateom-gvisor

---

apiVersion: ate.dev/v1alpha1
kind: ActorTemplate
metadata:
  name: sleep
  namespace: benchmark-workloads
spec:
  containers:
  - name: sleep
    image: busybox@sha256:1487d0af5f52b4ba31c7e465126ee2123fe3f2305d638e7827681e7cf6c83d5e
    command: ["/bin/sleep", "1000000"]
  workerSelector:
    matchLabels:
      workload: benchmark-ateom
  snapshotsConfig:
    location: gs://${BUCKET_NAME}/benchmark-workloads/sleep/

---

apiVersion: ate.dev/v1alpha1
kind: ActorTemplate
metadata:
  name: usermem
  namespace: benchmark-workloads
spec:
  containers:
  - name: usermem
    image: containerstack/alpine-stress:latest
    command: ["stress", "--vm", "1", "--vm-bytes", "1G", "--vm-keep", "--vm-hang", "0"]
  workerSelector:
    matchLabels:
      workload: benchmark-ateom
  snapshotsConfig:
    location: gs://${BUCKET_NAME}/benchmark-workloads/usermem/

---

apiVersion: ate.dev/v1alpha1
kind: ActorTemplate
metadata:
  name: kernelmem
  namespace: benchmark-workloads
spec:
  containers:
  - name: kernelmem
    image: containerstack/alpine-stress:latest
    command: ["sh", "-c", "find /; for i in $(seq 50000); do sleep 10000 & done; sleep 10000"]
  workerSelector:
    matchLabels:
      workload: benchmark-ateom
  snapshotsConfig:
    location: gs://${BUCKET_NAME}/benchmark-workloads/kernelmem/

---

apiVersion: ate.dev/v1alpha1
kind: ActorTemplate
metadata:
  name: glutton
  namespace: benchmark-workloads
spec:
  containers:
  - name: glutton
    image: ko://github.com/agent-substrate/substrate/cmd/benchmarking/glutton
    # Port 80 is the only inbound port nftables forwards from the worker pod
    # into the actor sandbox (see cmd/ateom-gvisor/main.go).
    command:
    - "/ko-app/glutton"
    - "--grpc-listen-addr=:80"
    - "--metrics-listen-addr=:9090"
    - "--data-dir=/tmp/glutton"
  workerPoolRef:
    namespace: benchmark-workloads
    name: benchmark-ateom
  snapshotsConfig:
    location: gs://${BUCKET_NAME}/benchmark-workloads/glutton/
